.cardlist {
    position: absolute;
    width: calc(100% - 70px);
    left: calc(70px / 2);
    top: calc((110px / 2) + 65px);
    padding-bottom: calc(70px / 2);
    height: 100%;
}

.cardlisttitle {
    position: absolute;
    color: cadetblue;
    font-family: "Cascadia Code";
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    top: 95px;
    left: 50px;
    text-shadow: -1px 0 white, 0 -1px white, 1px 0 white, 0 1px white,
        3px 3px 10px #3d3d3d65;
}

.cardLink {
    text-decoration: none;
    color: black;
}