* {
    margin: 0;
}

.card {
    position: relative;
    background-color: cadetblue;
    width: calc(100% - 4px);
    height: 300px;
    border-radius: 17.5px;
    border: 2px solid white;
    transition: all 0.5s ease;
    text-align: center;
    margin-top: 40px;
}

.card:hover {
    box-shadow: 3px 3px 10px #3d3d3d65;
}

.cardImage {
    position: relative;
    width: calc(100%);
    border-radius: 15.5px 15.5px 0 0;
    height: 140px;
    top: -1px;
    left: -1px;
    object-fit: cover;
    border: 1px solid white;
}

.cardTitle {
    position: relative;
    font-family: "Cascadia Code";
    font-size: 28px;
    font-weight: bold;
    color: wheat;
    top: 5px;
}

.cardDescriptionDiv {
    top: 195px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    height: calc(100% - 210px);
    position: absolute;
    background-color: wheat;
    border-radius: 15.5px;
    font-family: "Cascadia Code";
    font-size: 16px;
    line-height: 85px;
}